node_red_flow.json
[
    {
        "id": "46ca123f.227bcc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b9e06036.c8d9e",
        "type": "mqtt in",
        "z": "46ca123f.227bcc",
        "name": "",
        "topic": "sensor/temperature",
        "qos": "0",
        "broker": "6dc674a9.e1b4dc",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a851b263.7f507",
                "cf559ab8.6a16b8",
                "7788d0e4.c8d6b"
            ]
        ]
    },
    {
        "id": "a851b263.7f507",
        "type": "function",
        "z": "46ca123f.227bcc",
        "name": "Convert to int",
        "func": "var str = msg.payload;\nmsg.payload = parseInt (str);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "4903e842.272ea8"
            ]
        ]
    },
    {
        "id": "4903e842.272ea8",
        "type": "switch",
        "z": "46ca123f.227bcc",
        "name": "Check Temp",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "28",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "2be72ff.567c2d"
            ]
        ]
    },
    {
        "id": "fcf7cf96.c1478",
        "type": "template",
        "z": "46ca123f.227bcc",
        "name": "Message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Warnung!\nDie Temperatur des Kühlschranks fällt!\nMöglicher Abtauvorgang.",
        "output": "str",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "4d476c53.4097b4"
            ]
        ]
    },
    {
        "id": "4d476c53.4097b4",
        "type": "template",
        "z": "46ca123f.227bcc",
        "name": "Subject",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "!Warnung Kühlschranktemperatur Warnung!",
        "output": "str",
        "x": 940,
        "y": 380,
        "wires": [
            [
                "1ef7aae8.025ba5"
            ]
        ]
    },
    {
        "id": "2be72ff.567c2d",
        "type": "trigger",
        "z": "46ca123f.227bcc",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "1",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "Trigger mail",
        "x": 610,
        "y": 440,
        "wires": [
            [
                "fcf7cf96.c1478"
            ]
        ]
    },
    {
        "id": "7788d0e4.c8d6b",
        "type": "ui_chart",
        "z": "46ca123f.227bcc",
        "name": "",
        "group": "e21e577b.b81d98",
        "order": 0,
        "width": "10",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "20",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 330,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cf559ab8.6a16b8",
        "type": "ui_gauge",
        "z": "46ca123f.227bcc",
        "name": "",
        "group": "ed4a6e96.dc13",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Current temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-30",
        "max": "20",
        "colors": [
            "#035ab1",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "1ef7aae8.025ba5",
        "type": "sendgrid",
        "z": "46ca123f.227bcc",
        "from": "",
        "to": "",
        "name": "Send mail",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "6dc674a9.e1b4dc",
        "type": "mqtt-broker",
        "z": "",
        "name": "Aithon MQTT",
        "broker": "192.168.178.77",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e21e577b.b81d98",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "52c7dff1.c8f6c",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "ed4a6e96.dc13",
        "type": "ui_group",
        "z": "",
        "name": "Measurements",
        "tab": "52c7dff1.c8f6c",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "52c7dff1.c8f6c",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]
